
@font-face {
    font-family: 'tinos-regular';
    src: url('../fonts/Tinos-Regular.ttf');
}
@font-face {
    font-family: 'tinos-bold';
    src: url('../fonts/Tinos-Bold.ttf');
}
@font-face {
    font-family: 'tinos-italic';
    src: url('../fonts/Tinos-Italic.ttf');
}
@font-face {
    font-family: 'tinos-bolditalic';
    src: url('../fonts/Tinos-BoldItalic.ttf');
}

/* color scheme */
.color-1{
    background: #03045E;
}
.color-2{
    background: #023E8A;
}
.color-3{
    background: #0077B6;
}
.color-4{
    background: #0096C7;
}
.color-5{
    background: #00B4D8;
}
.color-6{
    background: #03045E;
}
.color-7{
    background: #03045E;
}
.color-8{
    background: #03045E;
}

/* fonts */
.font-b{
    font-family: 'tinos-bold';
}
.font-r{
    font-family: 'tinos-regular';
}

body {
    margin: 0;
    padding: 0;
}


/* navbar */

.navbar-expand-sm .navbar-brand{
    font-size: 22px;
    font-family: 'tinos-regular';
} 

.navbar-nav .nav-link {
    font-size: 22px;
    font-family: 'tinos-regular';
    color: white;
} 

.navbar-nav li {
    animation: FadeIn 1s cubic-bezier(0.65, 0.05, 0.36, 1);
    animation-fill-mode: both;
}

.navbar-nav li:nth-child(1) {
    animation-delay: .3s;
}

.navbar-nav li:nth-child(2) {
    animation-delay: .6s;
}

.navbar-nav li:nth-child(3) {
    animation-delay: .9s;
}

.navbar-nav li:nth-child(4) {
    animation-delay: 1.2s;
}

.navbar-nav li:nth-child(5) {
    animation-delay: 1.5s;
}


/* navbar animation */

@keyframes FadeIn {
    0% {
        opacity: 0;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }


    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        pointer-events: auto;
        transition: cubic-bezier(0.4, 0, 0.2, 1);
    }
}


/* Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}


.carousel-item {
    
    flex-wrap: nowrap;
}

.card {
    margin: 10px;
    text-align: center;
}

.card img {
    width: 100%; /* Full width */
    height: 200px; /* Fixed height */
    object-fit: cover; /* Crops and fills the area */   
    
}

.carousel-control-prev,
.carousel-control-next {
    background: rgba(0, 0, 0, 0.1);
    width: 5%;
}
.card-img-bg {
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}